<div class="bigCardContainer">
    <div class="bigCardPic">
        <img src="assets\images\AngularGif.gif" alt="AngularGif">
    </div>

    <div class="bigCardTitle">
        <h1><a href="https://angular.dev/" target="_blank">Veja a nova atualização do Angular!</a></h1>
    </div>

    <div class="bidCardDesc">
        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque voluptates inventore dicta pariatur cum, quasi atque quia ipsam. Voluptatum cum rem iure dolor fugiat esse voluptate incidunt labore a maxime.</h5>
    </div>
</div>
