
<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="ContainerArtigos">
    <div class="artigosPrincipais">
        <app-big-card photoCover="assets/images/AngularGif.gif" cardTitle="Veja a nova atualização do Angular!" cardDesc="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et mauris commodo, faucibus dolor quis."></app-big-card>
    </div>

    <div class="outrosArtigos">
        <app-small-card photoCover="assets/images/AngularGif.gif" cardTitle="Veja a nova atualização do Angular!"></app-small-card>
        <app-small-card photoCover="assets/images/AngularGif.gif" cardTitle="Veja a nova atualização do Angular!"></app-small-card>
        <app-small-card photoCover="assets/images/AngularGif.gif" cardTitle="Veja a nova atualização do Angular!"></app-small-card>
    </div>
</div>
<a [routerLink]="['content']">Próxima Página &gt;&gt;</a>